# Local Netlify folder
.netlify/
.netlify/plugins/
netlify/.netlify/

# Dependency directories
node_modules/

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Station Data (Managed by Automation Engine)
fmp_data_7718.csv
